/* poppins-300 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/poppins-v20-latin-300.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/poppins-v20-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/poppins-v20-latin-600.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-900 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../assets/fonts/poppins-v20-latin-900.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --primary-light: #FAF4EA;
  --primary-dark: #31261A;
  --primary-green: #819B57;
  --secondary-light: #CFCFBC;
  --secondary-dark: #A18268;
  --secondary-green: #465929;
}

.accent {
  color: var(--primary-green);
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.limited_340 {
  max-width: 340px;
}

.bg-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

body {
  color: var(--primary-dark);
  background-color: var(--primary-light);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.wrapper {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

ul {
  list-style-type: none;
}

address {
  font-style: normal;
}

h1 {
  font-weight: 900;
  font-size: 128px;
}

h2 {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.31;
}

h3 {
  font-weight: 600;
  font-size: 40px;
}

a {
  text-decoration: none;
}

.nav-link {
  color: var(--primary-light);
}
.nav-link:hover {
  color: var(--primary-green);
}

.grn-btn {
  padding: 16px 32px;
  background-color: var(--primary-green);
  color: var(--primary-light);
  font-weight: 600;
  border-radius: 8px;
  border: 2px solid var(--primary-green);
  cursor: pointer;
}
.grn-btn:hover {
  background-color: transparent;
  color: var(--secondary-green);
}

.header {
  padding: 32px 0 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
.header .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.header__logo img {
  width: 114px;
}
.header__nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}

.hero {
  padding: 272px 0;
  background-image: url(../../assets/imgs/hero-bg.jpg);
  background-position: center top;
}
.hero__title {
  color: var(--primary-light);
  text-align: center;
  margin-bottom: 0;
}

.advantages {
  background-color: var(--primary-green);
  padding: 16px 0;
}
.advantages__list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.advantages__item {
  color: var(--primary-light);
  font-size: 20px;
  font-weight: 300;
}

.traditions {
  padding: 96px 0 96px;
}
.traditions .wrapper {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.traditions__title {
  margin-bottom: 42px;
}
.traditions__descr {
  max-width: 710px;
}
.traditions__descr > * {
  margin-bottom: 42px;
}
.traditions__descr > *:last-child {
  margin-bottom: 0;
}
.traditions__img {
  border-radius: 400px 400px 0px 0px;
}

.bakers {
  padding: 0 0 96px;
}
.bakers__title {
  margin: 0 auto 80px;
  text-align: center;
  position: relative;
}
.bakers__title_accent {
  display: block;
}
.bakers__title:before, .bakers__title:after {
  content: "";
  display: block;
  width: 352px;
  height: 2px;
  background-color: var(--secondary-light);
  position: absolute;
  bottom: 24px;
}
.bakers__title:before {
  left: 0;
}
.bakers__title:after {
  right: 0;
}
.bakers__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px 30px;
}
.bakers__baker {
  flex-basis: calc((100% - 30px) / 2);
}
.bakers__baker-content {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 30px;
}
.bakers__baker-img {
  border-radius: 4px 4px 4px 200px;
  background: var(--secondary-light);
  box-shadow: -16px 16px 0 -2px var(--primary-light), -16px 16px 0 0 var(--secondary-dark);
}
.bakers__baker-descr > *:not(:last-child) {
  margin-bottom: 24px;
}
.bakers__baker-title {
  margin-bottom: 16px;
}

.formats {
  padding: 0 0 96px;
}
.formats__title {
  margin-bottom: 80px;
}

.contacts {
  padding: 0 0 96px;
}
.contacts .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 32px;
}
.contacts .wrapper > * {
  flex-basis: calc((100% - 32px) / 2);
}
.contacts__title {
  margin-bottom: 16px;
}
.contacts__privacy {
  color: var(--primary-dark);
  font-size: 12px;
}
.contacts__privacy a {
  color: var(--primary-dark);
  text-decoration: underline;
}
.contacts__privacy a:hover {
  text-decoration: none;
}
.contacts__map {
  border-radius: 16px;
  border: none;
}

.footer {
  padding: 32px 0 32px;
  background-image: url(../../assets/imgs/footer.jpg);
  position: relative;
}
.footer:before, .footer:after {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
}
.footer:before {
  left: 0;
  bottom: 0;
  width: 179px;
  height: 121px;
  background-image: url(../../assets/imgs/bg-bread-left.png);
}
.footer:after {
  right: 0;
  bottom: 0;
  width: 378px;
  height: 187px;
  background-image: url(../../assets/imgs/bg-bread-right.png);
}
.footer .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}
.footer .wrapper > * {
  flex-grow: 1;
}
.footer a {
  color: var(--primary-light);
}
.footer a:hover {
  text-decoration: underline;
  color: var(--primary-green);
}
.footer__logo a {
  display: inline-block;
}
.footer__nav-item:not(:last-child) {
  margin-bottom: 16px;
}
.footer__address {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}
.footer__address-list {
  max-width: 211px;
}
.footer__address-link {
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  margin-bottom: 16px;
}
.footer__privacy a {
  display: inline-block;
  margin-bottom: 16px;
}
.footer__copyright {
  font-size: 14px;
  color: var(--secondary-dark);
}
.footer__soc-icon {
  width: 32px;
  height: 32px;
  fill: var(--primary-light);
}
.footer__soc-icon:hover {
  fill: var(--primary-green);
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.carousel__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--primary-dark);
  cursor: pointer;
}
.carousel__btn:hover {
  background-color: var(--primary-dark);
}
.carousel__btn:hover .carousel__arrow {
  fill: var(--primary-light);
}
.carousel__btn_right {
  transform: rotate(180deg);
}
.carousel__arrow {
  width: 16px;
  height: 16px;
  fill: var(--primary-dark);
}
.carousel__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.carousel__item {
  color: var(--primary-light);
  flex-basis: calc((100% - 40px) / 3);
  padding: 248px 24px 24px;
  position: relative;
}
.carousel__item-content {
  position: relative;
  z-index: 2;
}
.carousel__item-title {
  margin-bottom: 16px;
  font-size: 24px;
}
.carousel__item-descr {
  font-size: 14px;
  font-weight: 300;
}
.carousel__item-img {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: 1;
}
.carousel__item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.carousel__item-img:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, #31261A 100%);
  background-blend-mode: overlay;
  border-radius: 16px;
}

.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.modal__inner {
  position: relative;
  background-color: var(--primary-light);
  border-radius: 32px;
}
.modal__close-btn {
  position: absolute;
  inset: 40px 40px auto auto;
}

.call-order__inner {
  width: 880px;
  height: 880px;
}

/*# sourceMappingURL=styles.css.map */
