.accent {
    color: var(--primary-green);
    font-weight: 600;
}

.uppercase {
    text-transform: uppercase;
}

.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.limited_340 {
    max-width: 340px;
}

.bg-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
