:root {
    // colors
    --primary-light: #FAF4EA;
    --primary-dark: #31261A;
    --primary-green: #819B57;

    --secondary-light: #CFCFBC;
    --secondary-dark: #A18268;
    --secondary-green: #465929;
}
