:root {
    // colors
    --primary-light: #faf4ea;
    --primary-dark: #31261a;
    --primary-green: #819b57;

    --secondary-light: #cfcfbc;
    --secondary-dark: #a18268;
    --secondary-green: #465929;
}

$bp-desktop: 1279px;
$bp-tablet: 768px;
$bp-mobile: 480px;
