.bakers {
    &__title {
        margin: 0 auto 80px;
        text-align: center;
        position: relative;

        @media screen and (max-width: $bp-tablet) {
            margin: 0 auto 20px;
        }

        &_accent {
            display: block;
        }

        &:before,
        &:after {
            content: "";
            display: block;
            width: 352px;
            height: 2px;
            background-color: var(--secondary-light);
            position: absolute;
            bottom: 24px;

            @media screen and (max-width: $bp-desktop) {
                display: none;
            }
        }

        &:before {
            left: 0;
        }

        &:after {
            right: 0;
        }
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 40px 30px;

        @media screen and (max-width: $bp-desktop) {
            gap: 20px;
        }
    }

    &__baker {
        flex-basis: calc((100% - 30px) / 2);

        @media screen and (max-width: $bp-desktop) {
            flex-basis: auto;
        }

        &-content {
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: flex-start;
            gap: 30px;

            @media screen and (max-width: $bp-desktop) {
                gap: 16px;
            }
        }

        &-img {
            width: 240px;
            border-radius: 4px 4px 4px 200px;
            background: var(--secondary-light);
            box-shadow:
                -16px 16px 0 -2px var(--primary-light),
                -16px 16px 0 0 var(--secondary-dark);

            @media screen and (max-width: $bp-desktop) {
                width: 140px;
                box-shadow:
                    -10px 10px 0 -2px var(--primary-light),
                    -10px 10px 0 0 var(--secondary-dark);
            }
        }

        &-descr {
            & > *:not(:last-child) {
                margin-bottom: 24px;

                @media screen and (max-width: $bp-tablet) {
                    margin-bottom: 16px;
                }
            }

            @media screen and (max-width: $bp-tablet) {
                font-size: 14px;
                font-weight: 300;
            }
        }

        &-title {
            margin-bottom: 16px;
        }
    }
}
