.contacts {
    padding: 0 0 96px;

    &__title {
        margin-bottom: 16px;
    }

    &__privacy {
        color: var(--primary-dark);
        font-size: 12px;

        a {
            color: var(--primary-dark);
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}