.contacts {
    padding: 0 0 96px;

    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 32px;

        & > * {
            flex-basis: calc((100% - 32px) / 2);
        }
    }

    &__title {
        margin-bottom: 16px;
    }

    &__privacy {
        color: var(--primary-dark);
        font-size: 12px;

        a {
            color: var(--primary-dark);
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__map {
        border-radius: 16px;
        border: none;
    }
}