.contacts {
    padding-bottom: 96px;

    @media screen and (max-width: $bp-tablet) {
        padding-bottom: 0;
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 32px;

        @media screen and (max-width: $bp-tablet) {
            flex-direction: column;
            gap: 24px;
        }

        & > * {
            flex-basis: calc((100% - 32px) / 2);

            @media screen and (max-width: $bp-tablet) {
                flex-basis: auto;
            }
        }
    }

    &__title {
        margin-bottom: 42px;

        @media screen and (max-width: $bp-tablet) {
            margin-bottom: 24px;
        }

        h2 {
            margin-bottom: 16px;

            @media screen and (max-width: $bp-tablet) {
                text-align: center;
                margin-bottom: 8px;
            }
        }

        p {
            color: var(--secondary-green);

            @media screen and (max-width: $bp-tablet) {
                font-size: 14px;
                text-align: center;
            }
        }
    }

    .call-order-form {
        &__block {
            margin-bottom: 24px;

            @media screen and (max-width: $bp-mobile) {
                margin-bottom: 16px;
            }
        }

        &__btn {
            margin-bottom: 16px;
        }
    }

    &__map {
        border-radius: 16px;
        border: none;
        height: 595px;

        @media screen and (max-width: $bp-tablet) {
            width: calc(100% + 40px);
            height: 376px;
        }

        @media screen and (max-width: $bp-mobile) {
            height: 176px;
        }
    }
}
