.footer {
    padding: 32px 0 32px;
    background-image: url(../../assets/imgs/footer.jpg);
    position: relative;

    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;

        & > * {
            flex-grow: 1;
        }
    }
    
    a {
        color: var(--primary-light);

        &:hover {
            text-decoration: underline;
        }
    }

    &__address {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;

        &-list {
            max-width: 211px;
        }

        &-link {
            font-size: 16px;
            font-weight: 300;
        }
    }

    &__copyright {
        font-size: 14px;
        color: var(--secondary-dark);
    }
}