.footer {
    padding: 32px 0 32px;
    background-image: url(../../assets/imgs/footer.jpg);
    position: relative;

    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 179px;
        height: 121px;
        background-image: url(../../assets/imgs/bg-bread-left.png);
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 378px;
        height: 187px;
        background-image: url(../../assets/imgs/bg-bread-right.png);
    }

    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;

        & > * {
            flex-grow: 1;
        }
    }
    
    a {
        color: var(--primary-light);

        &:hover {
            text-decoration: underline;
        }
    }

    &__nav-item:not(:last-child) {
        margin-bottom: 16px;
    }

    &__address {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;

        &-list {
            max-width: 211px;
        }

        &-link {
            font-size: 16px;
            font-weight: 300;
            display: inline-block;
            margin-bottom: 16px;
        }
    }

    &__privacy {
        a {
            display: inline-block;
            margin-bottom: 16px;
        }
    }

    &__copyright {
        font-size: 14px;
        color: var(--secondary-dark);
    }
}