.formats {
    padding: 0 0 96px;

    &__title {
        margin-bottom: 80px;
    }

    &__list {
        color: var(--primary-light);
    }

    &__item {

        h3 {
            font-size: 24px;
        }
    }

    &__item {

        &-title {
            margin-bottom: 16px;
        }

        &-descr {
            font-size: 14px;
            font-weight: 300;
        }

    }
}

