.carousel {
    padding: 0 77px;
    position: relative;
    text-align: center;

    @media screen and (max-width: $bp-tablet) {
        padding: 0;
    }

    &__inner {
        @media screen and (max-width: $bp-tablet) {
            max-width: 350px;
        }

        @media screen and (max-width: $bp-tablet) {
            max-width: 320px;
        }
    }

    &__item {
        display: flex !important;
        flex-direction: column;
        justify-content: flex-end;
        color: var(--primary-light);
        height: 444px !important;
        padding: 24px;
        position: relative;
        background: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, #31261a 100%);
        border-radius: 16px;
        text-align-last: left;

        &-content {
            position: relative;
            min-height: 170px;
        }

        &-title {
            margin-bottom: 16px;
            font-size: 24px;
        }

        &-descr {
            font-size: 14px;
            font-weight: 300;

            dd,
            dt {
                display: inline;
                line-height: 1.7;
            }
        }

        &-img {
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 16px;
            }

            &:before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                inset: 0;
                background-blend-mode: overlay;
            }
        }
    }

    .carousel__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        width: 44px;
        height: 44px;
        padding: 0;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid var(--primary-dark);
        cursor: pointer;
        position: absolute;
        top: calc(50% - 22px);

        @media screen and (max-width: $bp-mobile) {
            display: none;
        }

        &:after {
            display: none;
        }

        &:hover {
            background-color: var(--primary-dark);

            .carousel__arrow {
                fill: var(--primary-light);
            }
        }

        &_prev {
            left: 0;
        }

        &_next {
            transform: rotate(180deg);
            right: 0;
        }
    }

    &__arrow {
        width: 16px;
        height: 16px;
        fill: var(--primary-dark);
    }
}
