.call-order {
    &__inner {
        max-width: 880px;
        max-height: 880px;
        overflow-y: auto;

        @media screen and (max-width: $bp-tablet) {
            padding: 60px 10px;
        }
    }

    &__title {
        text-align: center;
        margin-bottom: 72px;

        @media screen and (max-width: $bp-tablet) {
            margin-bottom: 24px;
        }

        h2 {
            margin-bottom: 8px;
        }
    }
}
